In [1]:
import numpy as np 
import pandas as pd

# Automobile Project

In [267]:
df = pd.read_csv("Automobile_data.csv")
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [3]:
df.isnull().sum() # i am  find null value in data set

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [270]:
df = df.dropna() # so we are useing dropna to remove null values

In [271]:
df.isnull().sum()

company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [7]:
df.shape

(58, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB

In [9]:
df.columns

Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')

In [268]:
df.drop(['index'], axis=1, inplace = True)

# Q1. what is the average price and average mileage for convertible cars

In [234]:
avr_price_and_mileage = df.groupby(["body-style"])[["price","average-mileage"]].mean().loc[['convertible']]
avr_price_and_mileage

               price  average-mileage
body-style
convertible  22341.0        19.666667

# Q2. Sort cars by company and price in decending order

In [247]:
sort_cars = df.sort_values(by=['company','price'], ascending=False)
pd.DataFrame(sort_cars)
sort_cars

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
55,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
53,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
45,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
43,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
40,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
42,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
41,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
38,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
37,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
36,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
34,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
33,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
32,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
30,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
29,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
28,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
25,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
24,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0

# Q3. Save data for 'Toyota' separately

# Q4. which company is producing most expensive car?

In [35]:
most = df.groupby(['company'])["price"].sum()

In [36]:
most_expensive_car = most.nlargest(1)
most_expensive_car = pd.DataFrame(most_expensive_car)
most_expensive_car

            price
company
bmw      163280.0

# Q5. Name the cars on basis of maximum length, highest wheelbase, maximum horsepower

In [178]:
max_cars = df.groupby(['company'])[['length','wheel-base','horsepower']].max().sort_values(by =['length','wheel-base','horsepower'],ascending=False)

In [179]:
max_cars

               length  wheel-base  horsepower
company
mercedes-benz   208.1       120.9         184
jaguar          199.6       113.0         262
bmw             197.0       110.0         182
audi            192.7       105.8         115
volvo           188.8       104.3         114
toyota          187.8       104.5         156
nissan          184.6       100.4         152
porsche         175.7        98.4         288
honda           175.4        96.5         101
mazda           175.0       104.9         101
mitsubishi      172.4        96.3          88
volkswagen      171.7        97.3         100
alfa-romero     171.2        94.5         154
isuzu           170.7        94.5          78
chevrolet       158.8        94.5          70
dodge           157.3        93.7          68

# Q6. company wise average price of cars and order them in decending order

In [64]:
aver_price_cars = df.groupby(['company'])['price'].mean().sort_values(ascending=False).round(decimals=2)
aver_price_cars = pd.DataFrame(aver_price_cars)
aver_price_cars

                  price
company
porsche        35528.00
mercedes-benz  35040.00
jaguar         34600.00
bmw            27213.33
audi           16392.50
alfa-romero    15498.33
volvo          13177.50
honda          10195.00
mazda           9654.80
volkswagen      8435.00
nissan          8289.00
toyota          8216.86
isuzu           6785.00
mitsubishi      6689.00
dodge           6303.00
chevrolet       6007.00

# Q7. create a column named: "decision", If wheel-base is less than 100 and length is less than 175 then "don't buy" else "buy"

In [273]:
df['decision'] = np.where((df['wheel-base'] < 100) & (df['length'] < 175), "don't buy", "buy")

C:\Users\Ahil Quazi\AppData\Local\Temp\ipykernel_14680\4062340535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['decision'] = np.where((df['wheel-base'] < 100) & (df['length'] < 175), "don't buy", "buy")

In [274]:
decision = df
decision

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,decision
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,don't buy
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,don't buy
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,don't buy
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,buy
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,buy
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,buy
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0,buy
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0,buy
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0,buy
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0,buy
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0,buy
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0,buy
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0,buy
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0,don't buy
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0,don't buy
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0,don't buy
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0,don't buy
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0,don't buy
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,don't buy
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0,buy
20,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0,don't buy
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0,don't buy
24,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0,buy
25,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,buy
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0,buy
27,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0,don't buy
28,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0,don't buy
29,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0,don't buy
30,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0,don't buy
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0,buy
32,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0,buy
33,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0,buy
34,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0,buy
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0,buy
36,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0,don't buy
37,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0,don't buy
38,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0,don't buy
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0,don't buy
40,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0,don't buy
41,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0,don't buy
42,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0,don't buy
43,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0,don't buy
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0,buy
45,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0,don't buy
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0,don't buy
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0,don't buy
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0,don't buy
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0,don't buy
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0,don't buy
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0,don't buy
53,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0,don't buy
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0,buy
55,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0,don't buy
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,don't buy
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,don't buy
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,don't buy
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,buy
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,buy

# Q8. Select only cars whose decision is "buy"; find average price based on company of car

In [110]:
average_price_by_company = df[df['decision'] == 'buy'].groupby('company')['price'].mean()
average_price_by_company = pd.DataFrame(average_price_by_company)
average_price_by_company

                      price
company
audi           16392.500000
bmw            27213.333333
honda          12945.000000
jaguar         34600.000000
mazda          18344.000000
mercedes-benz  35040.000000
nissan         13499.000000
toyota         15750.000000
volvo          13177.500000

In [275]:
writer = pd.ExcelWriter("Automobile_Output_File.xlsx")

avr_price_and_mileage.to_excel(writer, sheet_name='avr_price_and_mileage')
sort_cars.to_excel(writer, sheet_name='sort_cars_by_company_and_price',index=False)
most_expensive_car.to_excel(writer, sheet_name='most_expensive_car')
max_cars.to_excel(writer, sheet_name='max_cars')
aver_price_cars.to_excel(writer, sheet_name='aver_price_cars')
decision.to_excel(writer, sheet_name='decision',index=False)
average_price_by_company.to_excel(writer, sheet_name='average_price_by_company')

writer.close() # The save() method has been deprecated and removed in Pandas. You should use close() instead.